/* Stylesheet for index.css */
html {
    overflow-x: hidden;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    /* FIXED AT BOTTOM */
    top: 0;
    left: 0;
    background-color: navy;
    position: absolute;
    width: 100vw;
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
}

.column-spaces {
    text-align: center;
    padding-bottom: 5px;
}

table {
    width: 100vw;
}
#table-format {
    text-align: center;
}
div.tab table {
    margin-top:12px;
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
div.tab th, div.tab tr, div.tab td{
    border: 1px solid orangered;
}
.separate {
    margin-top: 110px;
    border-style: solid;
    left: 0;
    right: 0;
    position:absolute;
    border-color: black;
    width: 100%;
    height: 441px;
    border-collapse: collapse;
}

.front-article {
    background: white;
}
a:link{
    
    color: orangered;
}
a:visited{
    color: orange
}
.center-piece {
    width: 40%;
    background-color:rosybrown;
    margin: 0;
    padding: 15px;
}
img {
    float: left; 
    margin: 5px;
}

#profile {
    text-align: justify;
    color: white;
    background-color: black;
    left: 0;
    margin-top: 100px;
    width: 100vw;
    height:100vh;
    float: left;
    margin-left: -8px;
}
